<h1>已收藏的筆記！！！</h1>
<%= form_tag(users_collections_path, :method => "get") do %>
  <%= text_field_tag :search %> 
  <%= submit_tag "Search" ,:note_name => nil %> 
  <% end %> 
 <%= link_to  "最新收藏", users_collections_path(desc: 'desc') %>
<%= link_to  "最舊收藏", users_collections_path(desc: 'asc') %>

<% if %>
  <% @collections.each do |note| %>
  <ul>
    <li>
      <div>
        <div style="border: darkblue solid;display: inline-block;">
          標題：<%= note.title %><br>
          內容：<%= note.content %>
          日期：<%= note.updated_at %>
        </div>
      </div>
    </li>
  </ul>
  <% end %>
<% end %>
<%= paginate @collections %>
<div><%= link_to "回筆記列表", notes_path %></div>