<div style="background-color: lightgray;">
  <button>我的空間</button>
    <% if current_user %>
    <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
    <%= link_to('個人帳戶設定', edit_registration_path(:user)) %>
  <% else %>
    <%= link_to('註冊', new_registration_path(:user)) %> |
    <%= link_to('登入', new_session_path(:user)) %>
  <% end %>
  <%= form_tag(notes_path, :method => "get") do %>
  <%= text_field_tag :search %> 
  <%= submit_tag "Search" ,:note_name => nil %> 
  <% end %>  
  <%=link_to "＋建立筆記", new_note_path %>
  <button>我的筆記</button>
  <button>協作筆記</button>
  <%= link_to "收藏", users_collections_path%>
</div>
