<nav style="background-color: lightgray;">
  <%= link_to "HackMD", notes_path %>
</nav>

<h1>這裡就是要改用MarkDownEditor編輯文章的地方！！</h1>
<%= form_for(@note) do |f| %>
  <div>
    <%= f.label :title, "文章標題" %>
    <%= f.text_field :title %>
  </div>
  <%= f.submit "手動存檔" %>
<% end %>

<div id="editor" data-controller="addTags"
                 data-addTags-target="editor"
                 data-addTags-id-value="<%= @note.id %>"></div>