<section class="note-index">
  <%= render "side_bar" %>
  <main class="text-white p-4 w-full">
    <div class="flex justify-between mt-10 mb-20 px-3"
         data-controller="searchTag">
      <span href="#" class="note-index-btn px-7 cursor-pointer" 
                     data-action="click->searchTag#toggle">標籤</span>
      <div  data-searchTag-target="box" 
            class="h-min w-80 z-10 shadow-xl absolute rounded mt-9 p-2 text-white "
            style="display: none; background-color: #686868;">
        <input type="text" placeholder="搜尋標籤名稱" class="mb-3 text-gray-light rounded border-white border-solid border p-1 align-middle	w-full"
               style="background-color: transparent;">
        <br>
        <div class="flex justify-between">
          <div>
            <a href="#" class="text-white">選擇所有標籤</a>
            <a href="#" class="text-white ml-3">Ｘ清除選取</a>
          </div>
          <div>
            <input type="radio" name="logical">AND
            <input type="radio" name="logical">OR
          </div>
        </div>
        <ul class="flex flex-wrap w-full list-none">
          
          <% @tags.each do |tag| %>
          <li class="inline-block w-1/2">
            <input type="checkbox" class="mr-3"><%= tag.title %>
          </li>
          <% end %>
        </ul>
      </div>
      <span href="#" class="note-index-btn px-3 cursor-pointer">顯示方式</span>
    </div>
    <div>
      <hr class="mb-10">
      <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        <% @notes.each do |note| %>
            <div class="notes-gather">
                <h2 class="-m-1 w-full">
                  <%= link_to note.title, note_path(note), class: "text-gray-rackmd no-underline" %>
                </h2>
                <span class="update-timer">
                  <i class="far fa-clock"></i>
                   <%= day_difference(note) %>
                </span>
                <div class="notes-icon-list">
                  <a data-controller="collect"
                     data-collect-id-value="<%= note.id %>"
                     data-action="collect#addCollection">
                        <%= collection_icon(current_user, note) %>
                  </a>
                  <%= link_to note_path(note), method: "delete", data: {confirm: "確定刪除筆記？"} do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </div>
            </div>
        <% end %>
      </div>
      <div class=" flex justify-center mt-5 ml-auto">
        <%= paginate @notes %>
      </div>
    </div>
  </main>
</section>
