<%= render "header" %>
<div style="display: flex"
    data-controller="searchTag" >
  <button data-action="searchTag#btn">標籤</button>
  <div  data-searchTag-target="box"
        style="height: 200px;
              width: 300px;
              display: block;
              background-color: darkgrey;
              margin-top: 25px;
              border-radius: 5px;
              position: absolute;">
    

  </div>
  <button>顯示方式</button>
</div>
<p>---------------無標籤----------------</p>
<ul>
  <% @notes.each do |note| %>
      <li>
          <%= link_to note.title, note_path(note) %>
          <%= note.updated_at %>
          <%= link_to "刪除筆記", note_path(note), method: "delete", data: {confirm: "確定刪除筆記？"}%>
      </li>
  <% end %>
</ul>

<%= paginate @notes %>