<%= render "header" %>
<div style="display: flex"
     data-controller="searchTag">
  <button data-action="searchTag#toggle">標籤</button>
  <div  data-searchTag-target="box"
        class="h-min w-64 bg-gray-600 absolute rounded mt-6 p-2 text-white"
        style="display: none;">

    <input type="text" placeholder="搜尋標籤名稱" class="mb-3">
    <br>
    <a href="#" class="text-white">選擇所有標籤</a>
    <a href="#" class="text-white ml-3">Ｘ清除選取</a>
    <div class="mt-2">
      <input type="radio" name="logical">AND
      <input type="radio" name="logical">OR
    </div>
    <ul class="flex flex-wrap w-full list-none -ml-10">
      
      <% @tags.each do |tag| %>
      <li class="inline-block w-5/12 mx-0.5 my-0.5">
        <input type="checkbox" class="mr-3"><%= tag.title %>
      </li>
      <% end %>
    </ul>
  </div>
  <button>顯示方式</button>
</div>
<p>---------------無標籤----------------</p>
<ul>
  <% @notes.each do |note| %>
      <li>
          <%= link_to note.title, note_path(note) %>
          <%= note.updated_at %>
          <%= link_to "刪除筆記", note_path(note), method: "delete", data: {confirm: "確定刪除筆記？"}%>
      </li>
  <% end %>
</ul>

<%= paginate @notes %>