<nav style="background-color: lightgray;">
  <%= link_to "HackMD", notes_path %>
</nav>
<div>
  標題：<%= @note.title %>
  <br>
  內容：<%= @note.content %>
</div>
<div>
  <%= form_for(@note) do |f| %>
    <%= f.label :tag_list, "標籤" %> 
    <%= f.text_field :tag_list %> 
    <%= f.text_field :title %>
    <%= f.text_field :content %>
</div>
<div id="editor" data-controller="autosave" 
    data-autosave-id-value="<%= @note.id %>" 
    data-action="keyup->autosave#updateValue">
    <%= f.submit %>
<% end %>
</div>