<nav style="background-color: lightgray;">
  <%= link_to "HackMD", notes_path %>
</nav>


<h1>這裡就是要改用MarkDown Editor寫新文章的地方！！</h1>
<%= form_for(@note) do |f| %>
  <div>
    <%= f.label :title, "文章標題" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content, "文章內容" %>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.label :tag_list, "標籤" %> 
    <%= f.text_field :tag_list %> 
  </div>

  <%= f.submit "手動存檔" %>
<% end %>

<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css
"> -->
<!-- <link rel="stylesheet" href="https://cdn.rawgit.com/
/simplemde-theme-dark/master/dist/simplemde-theme-dark.min.css
"> -->

 <!-- ======================================================================================== -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"> -->
<!-- <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
<textarea id="app"></textarea>