<nav style="background-color: lightgray;">
  <%= link_to "HackMD", notes_path %>
</nav>


<h1>這裡就是要改用MarkDown Editor寫新文章的地方！！</h1>
<%= form_for(@note) do |f| %>
  <div>
    <%= f.label :title, "文章標題" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content, "文章內容" %>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.label :tag_list, "標籤" %> 
    <%= f.text_field :tag_list %> 
  </div>

  <%= f.submit "手動存檔" %>
<% end %>

<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css
"> -->
<!-- <link rel="stylesheet" href="https://cdn.rawgit.com/
/simplemde-theme-dark/master/dist/simplemde-theme-dark.min.css
"> -->
<!-- <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css"> -->

 <!-- ======================================================================================== -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"> -->
<!-- <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
<!-- <div id="MyID"></div> -->
<textarea id="app"></textarea>
<!-- <script>
    var simplemde = new SimpleMDE({
        element: document.querySelector('textarea'),
        autoDownloadFontAwesome:true,//true從默認地址引入fontawesome依賴 false需自行引入(國內用bootcdn更快點)
        autofocus:true,
        autosave: {
            enabled: true,
            uniqueId: "SimpleMDE",
            delay: 1000,
        },
        // blockStyles: {
        //     bold: "**",
        //     italic: "*",
        //     code: "```"
        // },
        forceSync: true,
        hideIcons: false,
        indentWithTabs: true,
        lineWrapping: true,
        renderingConfig:{
            singleLineBreaks: true,
            codeSyntaxHighlighting: true // 需要highlight依賴
        },
        showIcons: true,
        spellChecker: false,
        toolbar:[
            "bold", "italic", "strikethrough", "heading",
            "|", "code" , "quote" , "unordered-list", "ordered-list","clean-block",
            "|", "link", "image", "table", "horizontal-rule",
            "|", "preview", "side-by-side", "fullscreen", "guide",
            "|"
            ,
            {
                name: "custom",
                title: "Custom Button",
                className: "fa fa-star",
                action: function (){
                    alert(123);
                },
            }
        ]
    });
    // 默認開啓預覽模式 -->
    // simplemde.toggleSideBySide();
	<!-- </script> -->