<div><%= link_to "回筆記列表", notes_path %></div>


<div data-controller="collect" 
     data-collect-id-value="<%= @note.id %>">
  <a data-action="collect#toggle">
    <%= collection_icon(current_user, @note) %>收藏 
  </a>
</div>

<div data-controller="favorite" 
     data-favorite-id-value="<%= @note.id %>">
  <a href="#"
     id = "favorite_btn"
     data-action="favorite#toggleFavorite"
     data-id="<%= @note.id %>">
    <%= favorite_icon(current_user, @note) %>讚賞 
  </a>
    <span data-favorite-target='counter' >
      <%= @likes %>
    </span>
</div>

<div style="display: flex;">
  <div>
    標題：<%= @note.title %>
    <br>
    內文：<%= @note.content %>
    <br>
    標籤：<%= @note.tag_list %>
  </div>

  <div data-controller="commentToggle" 
       class="flex">
    <button class="bg-white text-base border border-gray-400 text-gray-600 w-8 h-8" 
            data-action="commentToggle#toggle">
      <i class="fas fa-comment-dots"></i>
    </button>
    <div data-commentToggle-target="display" 
         style="display: none;" 
         class="ml-4 border border-gray-300 rounded w-64">
      <div id="comments">
        <%= render "comments" %>
      </div>
      <div>
        <%= render "createComment" %>
      </div>
    </div>
  </div>
</div>

<div id="editor"></div>