<div>
  標題：<%= @note.title %>
  <br>
  內文：<%= @note.content %>
  <%# 用非同步方式送資料，local: false = remote: true %>
  <%= form_with(model: @comment, url: note_comments_path(@note), local: false) do |f| %>
    <%= f.text_area :content %>
    <%= f.submit "新增留言" %>
  <% end %>

  <ul class= "comments">
    <% @comments.each do |comment| %>
      <li><%= comment.content %></li>
    <% end %> 
  </ul>
</div>
