<div><%= link_to "回筆記列表", notes_path %></div>


<% if Collection.exists?(note: @note) %>
  <div class="collection-btn collection-on",
    data-controller="collect",
    data-action="click->collect#toggle",
    data-collect-target="btn",
    data-collect-id-value="<%= @note.id %>">
    <a href="#">加入收藏</a>
  </div>
<% else %>
  <div class="collection-btn collection-off",
    data-controller="collect",
    data-action="click->collect#toggle",
    data-collect-target="btn",
    data-collect-id-value="<%= @note.id %>">
    <a href="#">加入收藏</a>
  </div>
<% end %>

<div data-controller="favorite" 
     data-favorite-id-value="<%= @note.id %>">
  <a href="#"
     id = "favorite_btn"
     data-action="favorite#toggleFavorite"
     data-id="<%= @note.id %>">
    <%= favorite_icon(current_user, @note) %>讚賞
  </a> 
</div>

<div>
  標題：<%= @note.title %>
  <br>
  內文：<%= @note.content %>
  <br>
  標籤：<%= @note.tag_list %>
  <%# 用非同步方式送資料，local: false = remote: true %>
  <div>
  <%= link_to '留言開關', note_is_comment_path(@note) %>
  <% if @note.comment_status %>
    <%= form_with(model: @comment, url: note_comments_path(@note), local: false) do |f| %>
      <%= f.text_area :content %>
      <%= f.submit "新增留言" %>
    <% end %>
    <ul class= "comments">
      <% @comments.each do |comment| %>
        <li>
          <%= comment.content %>
          <%= link_to "編輯", edit_comment_path(comment) %>
          <%= link_to "刪除", comment_path(comment), method: 'delete',data: { confirm: '確定嗎？', id: comment.id }%>
        </li>
      <% end %> 
    </ul>
  </div>
  <% end %> 
</div>

<div id="editor"></div>
