<nav class="editor-nav justify-between">
  <div class="flex">
    <div class="logol">
      <%= link_to notes_path do %>
        <i class="fas fa-book-open text-xl"></i>RackMD
      <% end %>
    </div>
    <div class="switch-btns">
      <i class="fas fa-pencil-alt"></i>
      <i class="fas fa-columns"></i>
      <i class="far fa-eye"></i>
    </div>
  </div>
  
  <div data-controller="commentToggle"
        class="flex items-center relative">
      <i data-action="click->commentToggle#toggle"
          class="fas fa-share-alt text-lg text-gray-lightest_s hover:text-gray-rackmd cursor-pointer">
      </i>
      <div data-commentToggle-target="display"
            style="display: none;"
            class="bg-white w-56 p-4 shadow absolute top-full right-20 z-10">
        <div class="text-xs text-gray-light">
          公開發表
        </div>
        <button class="rounded py-2">
          <%= publicbtn_display(@note) %>
        </button>
        <div class="text-xs text-gray-light">
          當選擇公開發表，網路上的所有人皆可以尋找及瀏覽到這篇筆記。 <br>
          在<%= link_to "公開頁面", user_public_note_path(current_user.id), class:"text-blue-400 border-b border-blue-400"%>檢視所有已公開發表的筆記。
        </div>
      </div>
      <button class="flex items-center text-white bg-blue-500 hover:bg-blue-600 py-1 rounded">
        <i class="fas fa-users text-xs w-16"> 1 連線</i>
      </button>
  </div>
</nav>
<div class="relative">
  <div class="absolute right-16 top-12 z-10">
    <div class="flex items-center">
      <div class="icon-btns">
        <div data-controller="favorite"
            data-favorite-id-value="<%= @note.id %>">
          <a href="#"
            id = "favorite_btn"
            data-action="favorite#addFavorite"
            data-id="<%= @note.id %>">
            <%= favorite_icon(current_user, @note) %>
          </a>
          <span data-favorite-target='counter' >
            <%= @likes %>
          </span>
        </div>
      </div>
      <div data-controller="collect"
           data-collect-id-value="<%= @note.id %>">
        <a data-action="collect#addCollection">
          <%= collection_icon(current_user, @note) %>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="relative">
  <div data-controller="commentToggle"
                    class="flex absolute right-8 top-20 z-10">
    <button class="w-8 h-8 border border-gray-300 mr-8 rounded flex justify-center items-center"
            data-action="commentToggle#toggle">
      <i class="fas fa-comment-dots text-sm text-gray-lightest_s"></i>
    </button>
    <div data-commentToggle-target="display"
          style="display: none;"
          class="mr-4 mt-8 border border-gray-300 rounded w-60 overflow-y-scroll">
      <div id="comments" class="mt-2">
        <%= render "comments", comments: @comments %>
      </div>
      <div class="">
        <%= render "createComment", note: @note, comment: @comment %>
      </div>
    </div>
  </div>
</div>
<div id="editor" data-controller="autosave"
                   data-action="keyup->autosave#updateValue"
                   data-addTags-target="editor"
                   data-addTags-id-value="<%= @note.id %>"
                   data-autosave-id-value="<%= @note.id %>"
                   data-content="<%= @note.content %>"></div>
                   <%# keyup->addTags#findTags addTags %>